<div>User form</div>
<form action="">
  <label for="title">Title</label><input data-model="title"  type="text" id="title">
  <label for="description">Description</label><input data-model="description"  type="text" id="description">
  <label for="js">JS</label><input data-model="js"  type="text" id="js">
  <br>
  <button type="button" id="save">Save</button>
</form>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
